<div class="p-1" style="max-width: 95vw;">
  <button
    class="mb-4 mr-3"
    mat-raised-button
    color="primary"
    (click)="openNewUserModal()"
  >
    Registrar Nuevo Alumno
  </button>

  <div class="table-container" style="overflow-x: auto">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      style="max-width: 100%;"
      [appColorearUltimoAgregado]="colorearTabla"

    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let alumno">{{ alumno.id }}</td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>Nombre completo</th>
        <td mat-cell *matCellDef="let alumno">{{ alumno | fullName }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Teléfono</th>
        <td mat-cell *matCellDef="let alumno">{{ alumno.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let alumno">{{ alumno.email }}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let alumno">
          <button
          [routerLink]="alumno.id"
          color="accent"
          mat-icon-button
        >
          <mat-icon>visibility</mat-icon>
        </button>
          <button
            (click)="eliminarAlumnos(alumno)"
            mat-icon-button
            color="warn"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
<mat-paginator
              (page)="onPage($event)"
              [length]="totalItems"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>